.content
{
    z-index: 1;
    text-align: center;
}

.background-image
{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("../img/pano.jpg");
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
    z-index: -1;
}

button
{
    background-image: url("../img/stone.jpg");
    background-size: 100px 100px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    color: white;
    font-family: Minecraft;  
    font-size: 50px;
}

button:hover
{
    background-color: rgb(66, 116, 255);
    background-blend-mode: lighten;
    color: yellow;
}

@font-face
{
    font-family: Minecraft;
    src: url("../fonts/1_Minecraft-Regular.otf") format("opentype");
}

#PIN
{
    font-family: Minecraft;  
    font-size: 100px;
    margin: 0%;
    background-color: white;
    display:inline-block;
}
