@font-face
{
    font-family: "Minecraft";
    src: url("../fonts/Minecraft-Regular.otf");
}

*, body, html
{
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: "Minecraft";
    font-weight: normal;
}

body, html
{
    min-width: 250px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 62.5%;
}

body
{
    background-color: gray;
    background-repeat: repeat-x;
    background-size: cover;
    animation: 80s ease-in-out infinite alternate background-scroll; 
}

@keyframes background-scroll
{
    from { background-position: 0;}
    to { background-position: 300vw }
}

h1, h2, h3, h4, h5, h6 {
    /*letter-spacing: 0.1rem;*/
    color: white;
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.2rem;
}

.login-page
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.login-page .main-container
{
    padding-top:2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 250px;
    width: 100%;
    max-width: 40vmax;
    height: 100vh;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.login-page .logo-wrap
{
    min-width:100%;
    max-width: 80vmin;
    width: 80vmax;
}

.login-page .dropdown-wrap
{
    min-width: 250px;
    width: 80%;
    margin-bottom: 5%;
}

.login-page .pin-wrap
{
    min-width: 200px;
    height:5vh;
    width: 60%;
    margin-bottom: 5%;
}

.login-page .keypad-wrap
{
    min-width: 210px;
    width: 65%;
}

.logo-wrap img
{
    width: 100%;
    height: auto;
}

.ui-style-1
{
    background-color: #CFC6C0;
    border: 3px solid black;
    vertical-align: text-bottom;
}

.ui-style-1.red
{
    background-color: #E57373;
}

.ui-style-1.disabled
{
    background-color: #959595;    
}

.ui-style-1.selected, .nav-bar .option.selected, .nav-bar .suboption.selected
{
    background-color: #228207;
}

.ui-style-1 h4, .nav-bar .option h4, .nav-bar .suboption h4, .account-name h4, .page-name h4
{
    color: #5F5F5F;
}

.ui-style-1.selected h4, .selected h4, .dropdown-item:active h4, .nav-bar .option.selected h4, .nav-bar .suboption.selected h4
{
    color: white;
}

.dropdown-item.selected, .dropdown-item:active
{
    background-color: #228207;
}

.dropdown
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}

.dropdown-field
{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.dropdown-item, .account-details
{
    height: 100%;
    width: 100%;
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.dropdown-item-icon, .account-icon
{
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item-icon img, .account-icon img
{
    width: 80%;
    flex-grow: 0;
    flex-shrink: 0;
}

.dropdown-item-text, .account-name
{
white-space: nowrap;
    margin-left: calc(0.5em + 5%);
    vertical-align: middle;
}

.dropdown-pane
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    display:none;
}

.dropdown-pane .dropdown-item-text
{
    color: white;
}

.pin-field
{
    width:100%;
    height: 100%;
    margin : auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.pin-indicator
{
    width: 5%;
    border: 2px solid black;
}

.pin-indicator.entered
{
    width: 10%;
}

.keypad
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.keypad-row
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 8%;
}

.keypad-button
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    max-width: 9vh;
    min-width: 50px;
    min-height: 50px;
    transition: 0.07s;
}

.keypad-button:not(.disabled):active
{
    background-color: #228207;
}

.keypad-button:not(.disabled).red:active
{
    background-color: #B71C1C;
}

.keypad-button:not(.disabled):active h4
{
    color:white;
}



/*Table map things*/
.table-map-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    flex-direction:row;
}

.nav-bar {
    width: 20%;
    background-color: #c6c6c6;
/*    background-color: #585659;*/
    min-width: 250px;
    border-right: 3px solid #585659;
}
/*
.account-name h4 {
    color:white;
}*/

.account-card {
    width:100%;
    height: 9vh;
/*    background-color: #c6c6c6; */
    min-height: 50px;
    display:flex;
    align-items:center;
}

.nav-bar .option, .nav-bar .suboption {
    background-color: #CFC6C0;
    padding-left:10%;
    display:flex;
    align-items:center;
    width:90%;
    height: 9vh;
    min-height: 50px;
    box-shadow:inset 0px 0px 0px 3px black; 
}

.nav-bar .suboption {
    margin-left:10%;
    width:80%;
}

.nav-bar .option.selected, .nav-bar .suboption.selected {
    box-shadow:inset 0px 0px 0px 3px white;
}

.settings-icon {
    width: 13%;
    height: 100%;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-around;
}

.settings-icon img {
    height:30%;
    image-rendering: pixelated;
    vertical-align:bottom;
}

.content-pane {
    width: 80%;
    /*background-color:blue;*/
}

/*
 * C6C6C6
 * 585659
 *
 * */
.title-bar {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    height: 9vh;
    background-color: #c6c6c6;
    min-height: 50px;
    border-bottom: 5px solid #585659;
}


/* This is a workaround for displaying a placeholder on a date field, copy-pasted from Stack Overflow */
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
