@font-face
{
    font-family: "Minecraft";
    src: url("../fonts/Minecraft-Regular.otf");
}

*, body, html
{
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: "Minecraft";
    font-weight: normal;
    vertical-align:bottom;
}

body, html
{
    min-width: 250px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 62.5%;
}

body
{
    background-color: gray;
    background-repeat: repeat-x;
    background-size: cover;
    animation: 80s ease-in-out infinite alternate background-scroll;
}

.dark-overlay, .popup-overlay {
    z-index:4;
    background-color: rgba(1.0, 1.0, 1.0, 0.5);
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

.popup-overlay {
    z-index: 10;
}

@keyframes background-scroll
{
    from { background-position: 0;}
    to { background-position: 300vw }
}

h1, h2, h3, h4, h5, h6 {
    /*letter-spacing: 0.1rem;*/
    color: white;
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.2rem;
}

.login-page
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.login-page .main-container
{
    padding-top:2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 250px;
    width: 100%;
    max-width: 40vmax;
    height: 100vh;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.login-page .logo-wrap
{
    min-width:100%;
    max-width: 80vmin;
    width: 80vmax;
}

.login-page .dropdown-wrap
{
    min-width: 250px;
    width: 80%;
    margin-bottom: 5%;
}

.login-page .pin-wrap
{
    min-width: 200px;
    height:5vmin;
    width: 60%;
    margin-bottom: 5%;
}

.login-page .keypad-wrap
{
    min-width: 210px;
    width: 65%;
}

.logo-wrap img
{
    width: 100%;
    height: auto;
}

.ui-style-1
{
    transition: 0.1s;
    background-color: #c6c6c6;
    outline: 3px solid black;
}

.ui-style-1.red:not(.disabled)
{
    background-color: #E6E6E6;
    outline: 3px solid #E57373;
}

.ui-style-1.red:not(.disabled) h4
{
    color: #E57373;
}

.ui-style-1.red:not(.disabled):active
{
    background-color: #E57373;
    outline: 3px solid white;
}

.ui-style-1.red:not(.disabled):active h4
{
    color: white;
}

.ui-style-1.disabled
{
    background-color: #959595;
}

.ui-style-1.selected, .create-btn:active, .create-acc-btn:active
{
    background-color: #218306;
    outline: 3px solid white;
}

.ui-style-1 h4, .account-name h4, .page-name h4
{
    color: #5F5F5F;
}
.nav-bar .option h4, .nav-bar .suboption h4 {
    color:black;
}

.ui-style-1.selected h4, .selected h4, .dropdown-item:active h4, .nav-bar .option.selected h4, .nav-bar .suboption.selected h4, .create-btn:active h4, .create-acc-btn:active h4
{
    color: white;
}

.dropdown-item.selected, .dropdown-item:active, .create-btn:active, .create-acc-btn:active
{
    background-color: #218306;
}

.dropdown
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}

.dropdown-field
{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.dropdown-item, .account-details
{
    transition: 0.1s;
    height: 9vmin;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.dropdown-item-icon, .account-icon
{
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item-icon img, .account-icon img
{
    width: 80%;
    flex-grow: 0;
    flex-shrink: 0;
}

.dropdown-item-text, .account-name
{
white-space: nowrap;
    margin-left: 1.5rem;
}

.dropdown-pane
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    display:none;
    z-index:3;
}

.dropdown-pane .dropdown-item-text
{
    color: white;
}

.pin-field
{
    width:100%;
    height: 100%;
    margin : auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.pin-indicator
{
    transition: none;
    width: 5%;
    outline: 2px solid black;
}

.pin-indicator.entered
{
    width: 10%;
}

.keypad
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.keypad-row
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 8%;
}

.keypad-button
{
    transition: 0.1s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    max-width: 9vmin;
    min-width: 50px;
    min-height: 50px;
}

.keypad-button:not(.disabled) h4 {
    color:black;
}

.keypad-button:not(.disabled):active
{
    background-color: #218306;
    outline: 3px solid white;
}

.keypad-button:not(.disabled):active h4
{
    color:white;
}

/*Table map things*/
.table-map-page, .new-account-page, .accounts-list-page, .single-table-page, .ordering-page, .payment-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    flex-direction : row;
}

.table-style {
    transition: 0.1s;
    position: absolute;
}

.table-style img {
    transition: 0.1s;
}

.table-style:active {
    outline: 3px solid white;
    background-color: #218306;
}

.table-style img:active {
    opacity: 0.5;
}

.clean-wrap
{
    position: relative;
    width: 100%;
    height: 100%;
}

.clean
{
    position: absolute;
    left: 60%;
    top: 0%;
    margin-top: -40%;
}

.nav-bar {
    z-index:5;
    width: 20%;
    height:100vh;
    background-color: #c6c6c6;
/*    background-color: #585659;*/
    min-width: 250px;
    border-right: 3px solid #585659;
}
/*
.account-name h4 {
    color:white;
}*/

.account-card {
    width:100%;
    height: 9vmin;
/*    background-color: #c6c6c6; */
    min-height: 50px;
    display:flex;
    align-items:center;
}

.search-input {
    width:80%;
    margin-right:5%;
    height: 5vmin;
}

.nav-bar-top {
    height:calc(100% - 9vmin);
}

.nav-bar-bottom {
    height: 9vmin;
    min-height: 50px;
}

.nav-bar .option, .nav-bar .suboption {
    transition: 0.1s;
    position: relative;
    background-color: #c6c6c6;
    padding-left:10%;
    display:flex;
    align-items:center;
    width:90%;
    height: 9vmin;
    min-height: 50px;
    box-shadow:inset 0px 0px 0px 3px black;
    margin-bottom: -3px;
}

.nav-bar .suboption {
    margin-left:10%;
    width:80%;
}

.nav-bar .option.selected, .nav-bar .option:active, .nav-bar .suboption.selected, .nav-bar .suboption:active {
    z-index: 5;
    box-shadow:inset 0px 0px 0px 3px white;
    background-color: #218306;
    height: 10vmin;
    min-height: 60px;
}

.nav-bar .option:active h4, .nav-bar .suboption:active h4 {
    color:white;
}

.nav-bar .suboption.selected {
    margin-left:8%;
    width:82%;
}

.logout-btn {
    transition: 0.1s;
    width:100%;
    height: 100%;
    box-shadow:inset 0px 0px 0px 3px #E57373;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #E6E6E6;
}

.logout-btn h4 {
    color: #E57373;
}

.logout-btn:active {
    background-color:#E57373;
    box-shadow:inset 0px 0px 0px 3px white;
}

.logout-btn:active h4 {
    color:white;
}

.settings-icon {
    width: 13%;
    height: 100%;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-around;
}

.settings-icon img {
    height:30%;
    image-rendering: pixelated;
}

.content-pane {
    width: 80%;
    background-image: url('../img/floortexture3.png');
    image-rendering: pixelated;
    background-size: 5vmax;
    background-repeat: repeat;
    position:relative;
}

.title-bar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
    height: 9vmin;
    min-height: 50px;
    background-color: #c6c6c6;
    border-bottom: 5px solid #585659;
}

.cool-content-pane {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: end;
}

.table-and-guests {
    justify-content: start;
    width: 60%;
    height: 100%;
}

.table-order {
    display:flex;
    margin: 1%;
    justify-content:flex-end;
    width: 60%;
    height: 75vh;
    background-color: #c6c6c6;
/*    background-color: #585659;*/
    /*min-width: 375px;
    */
    border: 3px solid #585659;
}

.food-card {
    margin: 1%;
    justify-content: center;
    text-align: center;
    background-color: #c6c6c6;
    display: flex;
    flex-direction: column;
    
    height: 60%;
    width: 30%;

    border: 3px solid #585659;
}

.page-name {
    width:60%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.tb-right {
    width:20%;
    text-align: right;
}

.tb-left {
    width:20%;
    height:100%;
    text-align:left;
}

.hamburger-btn {
    transition: 0.1s;
    margin-left:2%;
    width:9vmin;
    height:100%;
    display:flex;
    align-items:center;
    visibility:hidden;
}

.hamburger-btn img {
    margin:auto;
    height: 70%;
    width:auto;
    flex-grow: 0;
    flex-shrink: 0;
    image-rendering:pixelated;
}

.hamburger-btn:active {
    background-color: #218306;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.counter-btn {
    transition: 0.1s;
    height: 3.5vmin;
    min-height:25px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.item-counter {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    width:50%;
    margin:auto;
}

.item-count h4 {
    color: #5F5F5F;
}

.counter-btn:not(.disabled):active
{
    background-color: #218306;
    outline: 3px solid white;
}

.counter-btn:not(.disabled):active h4
{
    color:white;
}

.acc-input, .role-select, .icon-select {
    position:relative;
    height: 9vmin;
    min-height: 50px;
    min-width:240px;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5%;
    font-size: 1.8rem;
}

.create-btn {
    transition: 0.1s;
    height: 10vmin;
    min-height: 60px;
    width:calc(70% + 1.5rem);
    display:flex;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content: space-around;
    color: white;
}

.create-btn h4 {
    color:black;
}

.role-select, .icon-select {
    width:calc(60% + 1.5rem);
}

.role-select h4, .icon-select h4 {
    font-size: 1.8rem;
}

input {
    padding-left: calc(1.5rem);
    width:calc(100% - 1.5rem);
    background-color: #c6c6c6;
    outline: 3px solid black;
    border: none;
    color: #5F5F5F;
}

input:focus {
    outline-offset: 0;
    background-color: #218306;
    outline: 3px solid white;
    color:white;
    border: none;
}

input:focus::placeholder {
    color:white;
}

.account-creation-wrap {
    position:relative;
    margin:auto;
    height: calc(100% - 9vmin);
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.account-creation {
    width: 100%;
    text-align:center;
}

.accounts-list-wrap {
    position:relative;
    margin:auto;
    height: calc(100% - 9vmin);
    width: 35%;
    min-width: 400px;
    background-color: #c6c6c6;
    display:flex;
    flex-direction:column;
    align-items: center;
    border-left: 3px solid #585659;
    border-right: 3px solid #585659;
}

.accounts-list {
    margin-top:5%;
    width:100%;
    max-width:340px;
    padding-right:1rem;
}
.accounts-list .account-details {
    justify-content:space-between;
}

.accounts-list .account-name {
    text-align:left;
    width:100%;
}

.accounts-list .account-role {
    width: 100%;
    text-align:right;
}

.account-role h4 {
    color: #5F5F5F;
}

.create-acc-btn {
    width:100%;
    height: 9vmin;
    min-height: 50px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content: space-around;
    margin-top:10%;
}

.create-acc-btn h4 {
    color: black;
}

.bills-wrap
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.popup {
    z-index:12;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:50vmin;
    height:30vmin;
}

.popup-top {
    display:flex;
    width:90%;
    padding-left:5%;
    padding-right:5%;
    align-items:center;
    justify-content: center;
    height:23vmin;
}

.popup-bottom {
    height:7vmin;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.popup-top-third {
    height:7vmin;
    display:flex;
    width:100%;
    align-items:center;
    justify-content: center;
}

.popup-middle-third {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:16vmin;
}

.popup-bottom-third {
    height:7vmin;
    display:flex;
    align-items: center;
    justify-content: center;
    outline: 3px solid black;
}

.popup-yes, .popup-no {
    transition: 0.1s;
    width:50%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:15;
}

.popup-yes:active, .popup-no:active {
    background-color: #218306;
    outline: 3px solid white;
    z-index:20;
}

.popup-yes:active h4, .popup-no:active h4 {
    color:white;
}

.popup-enter {
    widows: 50%;
    width: 100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:15;
}

.popup-enter:active {
    background-color: #218306;
    outline: 3px solid white;
    z-index:20;
}

.bill
{
    flex-basis: 100%;
    display:flex;
    flex-direction: column;
    height: 90%;
}

.bill-top
{
    margin-bottom: auto;
}

.not-bill
{
    /* flex-basis: 100%; */
    display:flex;
    flex-direction: column;
    max-width:25%;
}

.item-name, .price
{
    font-size: 1.8rem; /*take from h5*/
}

.item-name
{
    color: #5F5F5F;
    margin-left: 5%;
    margin-right: 5%;
}

.price
{
    margin-left: 5%;
    margin-right: 5%;
    color: #218306;
}

.payment-button
{
    transition: 0.1s;
}

.payment-button:not(.disabled):active
{
    background-color: #218306;
    outline: 3px solid white;
}

.popup-cancel, .popup-cash, .popup-debit, .popup-credit, .popup-ok
{
    transition: 0.1s;
    width:25%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:15;
}

.popup-cancel h4, .popup-cash h4, .popup-debit h4, .popup-credit h4, .popup-ok h4, .popup-yes h4, .popup-no h4 {
    color:black;
}
.popup-cancel:active, .popup-cash:active, .popup-debit:active, .popup-credit:active, .popup-ok:active
{
    background-color: #218306;
    outline: 3px solid white;
    z-index:20;
}

.popup-cancel:active h4, .popup-cash:active h4, .popup-debit:active h4, .popup-credit:active h4, .popup-ok:active h4
{
    color:white;
}

.error-message {
    margin-bottom: 5%;
    visibility:hidden;
}

.error-message, .cash-error-message
{
    font-size: 2.4rem;
    color: maroon;
}

.cash-error-message
{
    transform: translate(0, -25%);
}

.food-card-row
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: auto;
}

.food-card-top
{
    margin-bottom: auto;
}
.table-display .item-counter{
    left:50%;
    position:absolute;
    transform:translate(-50%,-325%);
}

.guest-icons{
    position:relative;
}

.guest-icons img {
    outline: 3px solid black;
    transition: 0.1s;
}

.guest-icons img:active {
    outline: 3px solid white;
}


.table-display{
    position:absolute;
    top:50%;
    transform:translate(0,-50%)
}

.fab {
    background-size:100% 100%;
    width: 100%;
    height: 100%;
}

.back-btn-wrapjjgejrhgjureh-sd div {
    image-rendering:pixelated;
    background-image: url('../img/backfab.png');
    transition: 0.1s;
}

.back-btn-wrapjjgejrhgjureh-sd div:active {
    background-image: url('../img/backfab-highlighted.png');
}

.back-btn-wrapjjgejrhgjureh-sd {
    position:absolute;
    bottom: 2vmin;
    right: 22vmin;
    width:8vmin;
    height:8vmin;
}

.send-kitchen-btn div {
    image-rendering:pixelated;
    background-image: url('../img/send-standard.png');
    transition: 0.1s;
}

.send-kitchen-btn div:active {
    background-image: url('../img/send-highlighted.png');
}

.send-kitchen-btn {
 position:absolute;
    bottom: 2vmin;
    right: 2vmin;
    width:8vmin;
    height:8vmin;
}

.apply-order-btn div {
    image-rendering:pixelated;
    background-image: url('../img/confirm-standard.png');
    transition: 0.1s;
}

.apply-order-btn div:active {
    background-image: url('../img/confirm-highlighted.png');
}

.apply-order-btn {
z-index:2;
 position:absolute;
    bottom: 2vmin;
    right: 2vmin;
    width:8vmin;
    height:8vmin;
}

.pay-table-btn div {
    image-rendering:pixelated;
    background-image: url('../img/pay-standard.png');
    transition: 0.1s;
}

.pay-table-btn div:active {
    background-image: url('../img/pay-highlighted.png');
}

.pay-table-btn {
 position:absolute;
    bottom: 2vmin;
    right: 12vmin;
    width:8vmin;
    height:8vmin;
}

.back-btn-shrek div {
    image-rendering:pixelated;
    background-image: url('../img/backfab.png');
    transition: 0.1s;
}

.back-btn-shrek div:active {
    background-image: url('../img/backfab-highlighted.png');
}

.back-btn-shrek {
    position:absolute;
    bottom: 2vmin;
    right: 2vmin;
    width:8vmin;
    height:8vmin;
}

.back-btn-cox div {
    image-rendering:pixelated;
    background-image: url('../img/backfab.png');
    transition: 0.1s;
}

.back-btn-cox div:active {
    background-image: url('../img/backfab-highlighted.png');
}

.back-btn-cox {
    z-index:3;
    position:absolute;
    bottom: 2vmin;
    right: 12vmin;
    width:8vmin;
    height:8vmin;
}


